<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	{% load static %}
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav-icon.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Universal</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}"">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}">
	<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}"">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/main_copy.css' %}">
	<link rel="stylesheet" href="{% static 'css/product_copy_copy.css' %}">
	<!-- Option 1: Include in HTML -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">



	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popperjs/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/countdown.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> -->




	<script>
		$(document).ready(function(){
		  $("#p1").click(function(){
			$("#im1").show();
			$("#im2,#im3,#im4").hide();
		  });
		  $("#p2").click(function(){
			$("#im2").show();
			$("#im1,#im3,#im4").hide();
		  });
		  $("#p3").click(function(){
			$("#im3").show();
			$("#im1,#im2,#im4").hide();
		  });
		  $("#p4").click(function(){
			$("#im4").show();
			$("#im1,#im3,#im2").hide();
		  });
		});
	</script>
<style>
	*{
		text-decoration: none;
	}
	.weight1{
		width: 80px;
	}
	.modal-content .star-rating{
		direction: rtl;
		font-size: 2rem;
	}
	.star-rating {
  /* direction: rtl; Right to left so we can use ~ sibling selectors */
  display: inline-flex;
  font-size: 2.5rem;
}
.head p{
	font-size: 23px; font-weight: 600; color: black;
}
.star-rating input[type="radio"] {
  display: none; /* Hide the radio buttons */
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.star-rating input[type="radio"]:checked ~ label {
  color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: orange;
}
.star-rating {
    font-size: 1.4rem;
  }

  .filled {
    color: gold;
  }

  .empty {
    color: #ccc;
  }

  .review {
    padding: 10px 0;
    /* border-bottom: 1px solid #eee; */
  }
	
</style>
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="../../"><img src="{% static 'img/logo2.png' %}" alt="" height="50px" width="150px"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="../../">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									{% for i in type %}
									<li class="nav-item"><a class="nav-link" href="../../catagory/{{i}}">{{i}}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Orders</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="../../ordered_products">Track Order</a></li>
									<li class="nav-item"><a class="nav-link" href="../../order_history">Order History</a></li>
								</ul>
							</li>
							
							<li class="nav-item"><a class="nav-link" href="../../contact">Contact</a></li>
							

							<!-- </ul>
							<ul class="nav navbar-nav navbar-right"> -->
							<li class="nav-item"><a href="../../cart" class="nav-link" id="index-cart"><i class="bi bi-cart4" style="font-size: 20px;"></i></a></li>
							<li class="nav-item">
								<button class="search mt-2" id="index-button" style="border: 1px solid white; background-color: white;"><i class="bi bi-search" id="search" style="font-size: 15px;"></i></button>
							</li>
							{% if user %}
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><i class="bi bi-person-circle" style="font-size: 18px;"></i></a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="../../user">Profile</a></li>
									<li class="nav-item"><a class="nav-link" href="../../logout">Logout</a></li>
									
								</ul>
							</li>							
							{% else %}
							<li class="nav-item"><a class="nav-link" href="../login">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" action="../search_func" method="POST">
					{% csrf_token %}
					<input type="text" class="form-control" id="search_input" placeholder="Search Here" name="search">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<div class="div d-flex justify-content-center aling-items-center">
	<div class="container row" style="margin-top: 130px;" >
		<div class="col-lg-1"></div>
		<div class="images col-lg-7 d-flex">
			<div class="part1 col-lg-3 col-sm-7">
				<div class="photo1" style="width:50%;">
					<img src="{{product1.image1.url}}" alt="" id="p1" width="100%">
				</div>
				<div class="photo2" style="width:50%;" >
					<img src="{{product1.image2.url}}" alt="" id="p2" width="100%">
				</div>
				<div class="photo3" style="width:50%;">
					<img src="{{product1.image3.url}}" alt="" id="p3" width="100%">
				</div>
				<div class="photo4" style="width:50%;">
					<img src="{{product1.image4.url}}" alt="" id="p4" width="100%">
				</div>
			</div>
			<div class="part2 col-lg-9">
				<div class="image1">
					<img src="{{product1.image1.url}}" alt="" id="im1" width="80%">
				</div>
				<div class="image2">
					<img src="{{product1.image2.url}}" alt="" id="im2"style="display: none;" width="80%">
				</div>
				<div class="image3">
					<img src="{{product1.image3.url}}" alt="" id="im3" style="display: none;" width="80%" >
				</div>
				<div class="image4">
					<img src="{{product1.image4.url}}" alt="" id="im4" style="display: none;" width="80%">
				</div>
			</div>
		</div>
		<div class="part3 col-lg-4 col-sm-4">
			<h4>{{product1.description}}</h4>
			<h5>Rating : {{product1.rating}}</h5>
			<!-- <div class="location">
				<div class="location-logo" style="font-size: 15px;">
					<i class="bi bi-geo-alt"></i>
				</div>
				<p>location</p>
			</div> -->
			<div class="weight-price">
				{% for i in weights %}
				<a href="../../products1/{{product1.pk}}/{{i.pk}}" class="col-lg-5 col-sm-2 p-1" >
				<div class="weight1 col-lg-12 col-md-3 col-sm-2  text-center" {% if selected is i.pk %} style="border: 1px solid black;" {% endif %}>
					<p id="weight" style="color: black; font-weight:500;">{% if i.weight == 'null' %} {% else %}{{i.weight}}{% endif %}</p>
					<p class="offerprice" style="color: grey;">₹{{i.price}}</p>
					<p style="color: black;">₹{{i.offer_price}}</p>
					<p style="color: black; font-weight: 500; font-size: 12px; margin-top: -15px;">{{i.stock}} left</p>
				</div>
			    </a>
				{% endfor %}
			</div>
			<div class="buttons">
				{% if pk_item %}
				<div class="button1">
					<a href="../../cart" class="btn " style="width: 100%;">Go to cart</a>
				</div>
				{% else %}
				<div class="button1">
					<a href="../../add_cart/{{product1.pk}}" class="btn " style="width: 100%;">Add to cart</a>
				</div>
				{% endif %}
				<div class="button2">
					<a href="../../buynow/{{product1.pk}}" class="btn " style="width: 100%; margin-top: 15px;">Buy Now</a>
				</div>
			</div>
		</div>


	</div>
	</div>
	<div class="alsolike container" style="margin-top: 150px;">
		<div class="head d-flex">
			<p>
				Reviews</p>
				{% if not isReviewed %}
					&nbsp;&nbsp;&nbsp;
					<button class="btn btn-primary mx-4" data-toggle="modal" data-target="#myModal">Add review</button>
				{% else %}
					<span style="font: 15px;" class="mx-3">Already reviewed</span>


				{% endif %}
			
					</div>
		<!-- The Modal -->
<div class="modal" id="myModal">
	<div class="modal-dialog">
	  <div class="modal-content p-3">
		<h3 style="font-weight: 600;">Add Rating</h3>
		<!-- Modal Header -->
		<form method="POST" action="../addReview/{{product1.pk}}">
			{% csrf_token %}
			<div class="star-rating">
			  <input type="radio" id="star5" name="rating" value="5">
			  <label for="star5" title="5 stars">&#9733;</label>
		  
			  <input type="radio" id="star4" name="rating" value="4">
			  <label for="star4" title="4 stars">&#9733;</label>
		  
			  <input type="radio" id="star3" name="rating" value="3">
			  <label for="star3" title="3 stars">&#9733;</label>
		  
			  <input type="radio" id="star2" name="rating" value="2">
			  <label for="star2" title="2 stars">&#9733;</label>
		  
			  <input type="radio" id="star1" name="rating" value="1" required>
			  <label for="star1" title="1 star">&#9733;</label>
			</div>
			<textarea name="description" id="" placeholder="Description" class="form-control" required></textarea>
			<button type="submit" class="btn btn-primary mt-1">Submit Rating</button>
		  </form>
		  
  
		<!-- Modal footer -->
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		</div>
  
	  </div>
	</div>
  </div>
		<div class="row mt-5">
			<div class="review col-lg-12">
			    {% for review in reviews %}
    <div class="row  p-1 ">
      
      <!-- Left Column (User image or placeholder) -->
      <div class="col-lg-1 d-flex align-items-start justify-content-center">
        <!-- Uncomment and use if you have a profile image -->
        <img src="{% static 'img/profile.png' %}" alt="profile" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
        <!-- <p class="fw-bold mt-2">{{ review.uname.name|default:"User" }}</p> -->
      </div>

      <!-- Right Column (Review details) -->
      <div class="col-lg-11">
        <div class="review">
          <h5 class="mb-1">{{ review.uname.name }}</h5>

          <div class="star-rating mb-2">
            {% for i in "12345" %}
              {% if forloop.counter <= review.rating %}
                <span class="filled">&#9733;</span>
              {% else %}
                <span class="empty">&#9733;</span>
              {% endif %}
            {% endfor %}
          </div>

          {% if review.description %}
            <p>{{ review.description }}</p>
          {% endif %}
        </div>
      </div>

    </div>
	<hr>

    {% empty %}
    <p class="text-muted">No reviews yet.</p>
	

    {% endfor %}
			</div>
		</div>
		</div>
	<div class="alsolike container" style="margin-top: 150px;">
		<div class="head">
			<p style="font-size: 23px; font-weight: 600; color: black;">You Might also like</p>
		</div>
		<div class="alsopro row mt-5">
			{% for k in price %}
				{% if k.p_name.name != product1.name %}
					<a href="../../products/{{k.p_name.pk}}">
						<div class="col-lg-3">
							<div class="single-product col-lg-12">
								<img class="img-fluid" src="{{k.p_name.image1.url}}" alt="" height="250px">
								<div class="product-details">
									<h6>{{k.p_name.name}}</h6>
									<div class="price">
									
										<h6>₹{{k.offer_price}}</h6>
										<h6 class="l-through">₹{{k.price}}</h6>
									
									</div>
									<div class="prd-bottom">
	
										<a href="../../add_cart/{{k.p_name.pk}}" class="social-info">
											<i class="bi bi-cart4" style="font-size: 20px; color: black;"></i>
											<p class="hover-text" style="margin-left: -5px;">add to Cart</p>
										</a>
										<a href="" class="social-info">
											<!-- <span class="lnr lnr-heart"></span>
											<p class="hover-text">Wishlist</p> -->
										</a>
										<a href="" class="social-info">
											<!-- <span class="lnr lnr-sync"></span>
											<p class="hover-text">compare</p> -->
										</a>
										<!-- <a href="" class="social-info"> -->
											<!-- <span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p> -->
										<!-- </a> -->
									</div>
								</div>
							</div>
						</div>
					</a>
					{% endif %}
					{% endfor %}
		</div>
	</div>
		<!-- start footer Area -->
		<footer class="footer-area section_gap"  style="width: 100%;">
			<div class="container" >
				<div class="row" style="display: block; text-align: center;">
					<div class="col-lg-12  col-md-6 col-sm-6" >
						<div class="single-footer-widget" style="width: 100%;">
							<h6>UNIVERSAL : Equip Yourself & Train with Us!</h6>
							<p>
								
	
	We provide a complete fitness solution: top-quality gym equipment for your home workouts and a supportive training center with expert-led classes and personalized sessions.
	
	Empower your fitness journey. Shop smart, train strong.
							</p>
						</div>
					</div>
					</div> 
					<div class="col-lg-12 col-md-6 col-sm-6">
						<div class="single-footer-widget" style="text-align: center;">
							
							<div class="footer-social d-flex justify-content-center"  style="font-size: 19px;">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->

	
</body>

</html>