<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    {% load static %}
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/fav-icon.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Universal</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
</head>
<style>
    input[type="checkbox"]:checked::after{
        background-color: orange;
    }
    .line{
        border-left: 4px solid rgb(182, 182, 182);height: 50px; margin-left: 19.5px; margin-top: -6px;
    }
</style>
<body>

    <!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="../"><img src="{% static 'img/logo2.png' %}" alt="" height="50px" width="150px"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="../">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									{% for i in type %}
									<li class="nav-item"><a class="nav-link" href="../catagory/{{i}}">{{i}}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Orders</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="../ordered_products">Track Order</a></li>
									<li class="nav-item"><a class="nav-link" href="../order_history">Order History</a></li>
								</ul>
							</li>
							
							<li class="nav-item"><a class="nav-link " href="../contact">Contact</a></li>
							

							<!-- </ul>
							<ul class="nav navbar-nav navbar-right"> -->
							<li class="nav-item cart active"><a href="../cart" class="nav-link" id="index-cart"><i class="bi bi-cart4" style="font-size: 20px;"></i></a></li>
							<li class="nav-item">
								<button class="search mt-2" id="index-button" style="border: 1px solid white; background-color: white;"><i class="bi bi-search" id="search" style="font-size: 15px;"></i></button>
							</li>
							{% if user %}
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><i class="bi bi-person-circle" style="font-size: 18px;"></i></a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="../user">Profile</a></li>
									<li class="nav-item"><a class="nav-link" href="../logout">Logout</a></li>
									
								</ul>
							</li>							
							{% else %}
							<li class="nav-item"><a class="nav-link" href="../login">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
                <form class="d-flex justify-content-between" action="../search_func" method="POST">
					{% csrf_token %}
					<input type="text" class="form-control" id="search_input" placeholder="Search Here" name="search">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Track Your Orderes</h1>
                    <nav class="d-flex align-items-center">
                        <a href="../user">Profile<span class="lnr lnr-arrow-right"></span></a>
                        <a href="../yourorders">Your Orders<span class="lnr lnr-arrow-right"></span></a>
                        <a href="../ordered_products">Ordered Products</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <div class="container mt-5" style="display: flex;">
        <div class="slide col-lg-4">
            <div class="col-lg-2" style="display: flex;"> 
                <input type="checkbox" name="orderplaced" checked>
                &nbsp;<span style="color: black; font-weight: 500;">OrderPlaced</span>
            </div>
            <div class="col-lg-2 line" {% if packed %} style="border-left: 4px solid rgb(54, 143, 245)" {% endif %}></div>
            <div class="col-lg-2" style="display: flex; margin-top: -5px;">
                <input type="checkbox" name="packed" {% if packed %} checked {% endif %}>
                &nbsp;<span style="color: black; font-weight: 500;">Packed</span>
            </div>
            <div class="col-lg-2 line" {% if shipped %} style="border-left: 4px solid rgb(54, 143, 245)" {% endif %}></div>
            <div class="col-lg-2" style="display: flex; margin-top: -5px;">
                <input type="checkbox" name="shipped" {% if shipped %} checked {% endif %}>
                &nbsp;<span style="color: black; font-weight: 500;">Shipped</span>
            </div>
            <div class="col-lg-2 line" {% if outfordelivery %} style="border-left: 4px solid rgb(54, 143, 245)" {% endif %}></div>
            <div class="col-lg-2" style="display: flex; margin-top: -5px;">
                <input type="checkbox" name="outfordelivery" {% if  outfordelivery %} checked {% endif %}>
                &nbsp;<span style="color: black; font-weight: 500;">OutForDevilvery</span>
            </div>
            <div class="col-lg-2 line" {% if delivered %} style="border-left: 4px solid rgb(54, 143, 245)" {% endif %}></div>
            <div class="col-lg-2" style="display: flex; margin-top: -5px;">
                <input type="checkbox" name="delivered" {% if delivered %} checked {% endif %}>
                &nbsp;<span style="color: black; font-weight: 500;">Delivered</span>
            </div>
        </div>
        <div class="details row" style="display: flex; flex-direction: column;">
            <div class="col-lg-4" >
                <p style="font-size: 20px; color: black; font-weight: 500;">{{order.c_item.p_name.name}}</p>
                
                <p>{% if order.c_item.w_product.weight == 'null' %} {% else %} {{order.c_item.w_product.weight}} {% endif %}</p>
                <p style="color: grey; font-style: italic;">Expected On : {{order.expected_date}}</p>
                <a href="../delete_order/{{order.pk}}" class="btn btn-warning" onclick="return confirm('Are you sure you want to delete this?')" {% if shipped %} style="display: none;" {% endif %}>Cancel the order
                    <!-- <button class="btn btn-warning" id="delete_button" >Cancel the Order</button> -->
                </a>
            </div>
            <div class="col-lg-12">
                <img src="{{order.c_item.p_name.image1.url}}" alt="" class="col-lg-6">
            </div>
        </div>
    </div>

    <!-- start footer Area -->
    <footer class="footer-area section_gap mt-3"  style="width: 100%;">
        <div class="container" >
            <div class="row" style="display: block; text-align: center;">
                <div class="col-lg-12  col-md-6 col-sm-6" 
                    <div class="single-footer-widget" style="width: 100%;">
                        <h6>UNIVERSAL : Equip Yourself & Train with Us!</h6>
                        <p>
                            

We provide a complete fitness solution: top-quality gym equipment for your home workouts and a supportive training center with expert-led classes and personalized sessions.

Empower your fitness journey. Shop smart, train strong.
                        </p>
                    </div>
                </div>
                </div> 
                <div class="col-lg-12 col-md-6 col-sm-6">
                    <div class="single-footer-widget" style="text-align: center;">
                        
                        <div class="footer-social d-flex justify-content-center"  style="font-size: 19px;">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>