<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	{% load static %}
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav-icon.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Universal</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}"">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}">
	<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}"">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/main_copy.css' %}">	
	 <!-- <link rel="stylesheet" href="../static/css/main_copy.css"> -->
	<link rel="stylesheet" href="{% static 'css/product_copy_copy.css' %}">
	<!-- Option 1: Include in HTML -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">



	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popperjs/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/countdown.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<style>
		input::placeholder{
			font-size: 13px;
		}
	</style>
</head>

<body style="height: fit-content;">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="../"><img src="{% static 'img/logo2.png' %}" alt="" height="50px" width="150px"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="../">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									{% for i in type %}
									<li class="nav-item"><a class="nav-link" href="catagory/{{i}}">{{i}}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Orders</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Track Order</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Order History</a></li>
								</ul>
							</li>
							
							<li class="nav-item"><a class="nav-link" href="../contact">Contact</a></li>
							

							<!-- </ul>
							<ul class="nav navbar-nav navbar-right"> -->
							<li class="nav-item"><a href="../cart" class="nav-link" id="index-cart"><i class="bi bi-cart4" style="font-size: 20px;"></i></a></li>
							<li class="nav-item">
								<button class="search mt-2" id="index-button" style="border: 1px solid white; background-color: white;"><i class="bi bi-search" id="search" style="font-size: 15px;"></i></button>
							</li>
							{% if user %}
							<li class="nav-item submenu dropdown active">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><i class="bi bi-person-circle" style="font-size: 18px;"></i></a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="../ordered_products">Track Order</a></li>
									<li class="nav-item"><a class="nav-link" href="../order_history">Order History</a></li>
									
								</ul>
							</li>							
							{% else %}
							<li class="nav-item"><a class="nav-link" href="../login">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" action="../search_func" method="POST">
					{% csrf_token %}
					<input type="text" class="form-control" id="search_input" placeholder="Search Here" name="search">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	

    <div class="container">
		<a href="../address">
			<div class="col-lg-3" style="margin-top: 180px; color: orange; ">
				<i class="bi bi-box-arrow-left" style="font-size: 25px;"></i> Go back
			</div>
		</a>
	</div>
	<div class="container" style=" display: flex; margin-top: 25px;">

			<div class="col-lg-6">
				
				<form action="../../update_order_address/{{userdata.pk}}/{{data2}}" method="POST" class="form-group" style="display: flex; flex-direction: column; font-size: 15px;">
					{% csrf_token %}
					<div class="col-lg-12">
						<select name="region" class="form-select">
							<option value="India">India</option>
							<option value="China">China</option>
							<option value="Pakisthan">Pakisthan</option>
							<option value="USA">USA</option>
							<option value="Africa">Africa</option>
						</select>
					</div>
					<div class="col-lg-12 mt-2">
						<label for="fullname" style="font-weight: 500; color: black;">Fulllname (First name and Last name)</label>
						<input type="text" name="fullname" id="" value="{{userdata.fullname}}" class="form-control" required>
					</div>
					<div class="col-lg-12 mt-1">
						<label for="mobilenumber" style="font-weight: 500; color: black;">Mobile Number</label>
						<input type="text" name="mobilenumber" id="" value="{{userdata.mobilenumber}}" class="form-control" required>
						<p>May be used to assist delivery</p>
					</div>
					<div class="col-lg-12 mt-2">
						<label for="pincode" style="font-weight: 500; color: black;">Pincode</label>
						<input type="text" name="pincode" id="" value="{{userdata.pincode}}" class="form-control" required>
					</div>
					<div class="col-lg-12 mt-2">
						<label for="add1" style="font-weight: 500; color: black;">Flat, Houseno.,Building, Company, Apartment</label>
						<input type="text" name="add1" id="" class="form-control" value="{{userdata.add1}}" required>
					</div>
					<div class="col-lg-12 mt-2">
						<label for="add2" style="font-weight: 500; color: black;">Area, Street, Sector, Village</label>
						<input type="text" name="add2" id="" class="form-control" value="{{userdata.add2}}">
					</div>
					<div class="col-lg-12 mt-2">
						<label for="landmark" style="font-weight: 500; color: black;">Landmark</label>
						<input type="text" name="landmark" id="" class="form-control"  placeholder="Eg:Near Apollo Hospital" value="{{userdata.landmark}}" required>
					</div>
					<div class="col-lg-12 mt-2" ">
							<label for="town" style="font-weight: 500; color: black;">Town/City</label>
							<input type="text" name="town" id="" class="form-control" value="{{userdata.town}}" required>
					</div>
					<div class="col-lg-12 mt-2" ">
							<label for="state" style="font-weight: 500; color: black;" required>State</label>
							<select name="state" class="form-select">
								<option value="Kerala">Kerala</option>
								<option value="Tamil Nadu">Tamil Nadu</option>
								<option value="Hydrabhadh">Hydrabhadh</option>
								<option value="Delhi">Delhi</option>
								<option value="Karnataka">Karnataka</option>
							</select>
					</div>
					
					<div class="col-lg-12 mt-2">
						<input type="submit" value="Update Address" class="btn btn-warning" style="width: 100%;">
					</div>
				</form>
			</div>
			
    </div>

		<!-- start footer Area -->
		<footer class="footer-area section_gap"  style="width: 100%; margin-top:83px ;">
			<div class="container" >
				<div class="row" style="display: block; text-align: center;">
					<div class="col-lg-12  col-md-6 col-sm-6" 
						<div class="single-footer-widget" style="width: 100%;">
							<h6>UNIVERSAL : Equip Yourself & Train with Us!</h6>
							<p>
								
	
	We provide a complete fitness solution: top-quality gym equipment for your home workouts and a supportive training center with expert-led classes and personalized sessions.
	
	Empower your fitness journey. Shop smart, train strong.
							</p>
						</div>
					</div>
					</div> 
					<div class="col-lg-12 col-md-6 col-sm-6">
						<div class="single-footer-widget" style="text-align: center;">
							
							<div class="footer-social d-flex justify-content-center"  style="font-size: 19px;">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->



	
</body>

</html>